.bq-admin-header {
  height: 50px;
}

.bq-admin-header .bq-admin-help {
  margin: 12px 0 7px
}

.bq-admin-logo img {
  width: 240px;
  margin: 15px 0 5px 0;
}

.bq-admin-wrap h2 {
 margin-bottom: 0;
}

.bq-admin-wrap .bq-admin-subtitle {
  margin-top: 5px;
}
